{% extends "layout.html" %}
{% block title %}{{ title }} {% endblock %}
{% block css %}
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/markdown.js') }}"></script>
<script type="text/javascript">
var $ = function(id) { return document.getElementById(id); };
document.addEventListener('DOMContentLoaded', function() {
    $('preview').innerHTML = markdown.toHTML($('markdown').innerText);
}, false);
</script>
{% endblock %}
{% block body %}
<div id="markdown" style="display: none">{{ markdown|safe }}</div>
<div id="preview"></div>
{% endblock %}
